@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../pics/background/background.jpg) no-repeat center center fixed;
  width: 100%;
  padding: 0 15px;
  font-size: 16px;
  color: #fff;
}

body::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../pics/background/pexels-photo-1766838.jpeg"), #000;
  background-position: center;
  background-size: cover;
}

header {
    margin-top: 20px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
}

header .arr{
    flex: 1;
}

header .arr a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

header .arr a:hover {
    color: #3fa159;
    text-decoration: none;
}

header .fld{
    flex: 1;
    text-align: left;
    margin: 10px;
}

header .fld h2.subtitle{
  font-size: 30px;
  color: #3fa159;
}

header .fld p{
  font-size: 18px;
}

.container {
  display: flex;
  width: 100%;
  overflow: hidden;
  gap: 10px;
}

.sidebar {
  padding: 15px;
  margin-top: 10px; 
  border-radius: 8px;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.5);
  min-width: 15%;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  height: 480px;
}

.sidebar .sidebar-header{
  text-align: center;
  font-size: larger;
  margin: 10px;
}

.nav-top {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-btm {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: auto; /* Pushes the bottom navigation to the bottom */
}

.sidebar-nav ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  color: #f1f1f1;
  padding: 15px;
  border-radius: 8px;
}

.sidebar-nav ul li a:hover {
  color: #3fa159;
}

.sidebar-nav ul li a i {
  font-size: 24px;
  margin-right: 10px;
}

.dashboard {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;

} 

.card1, .card2{
  flex: 1;
  margin-top: 10px;
  width: 630px;
  border-radius: 8px;
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.card3{
  flex: 1;
  margin-top: 10px;
  width: 1250px;
  border-radius: 8px;
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.card1 h3, .card2 h3, .card3 h3{
  text-align: center;
  font-size: 28px;
  color: #3fa159; /* Dark Green */
  margin-bottom: 15px;
}

.card1 p, .card2 p {
  font-size: 17px;
  margin: 10px 0;
}

/* Responsiveness */
@media (max-width: 768px) {
  .dashboard {
      flex-direction: column;
  }

  .card {
      min-width: 100%;
  }
}





