/* General Reset */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../pics/background/background.jpg) center/cover no-repeat;
    background-attachment: fixed;
    color: #333;
}


header {
    margin-top: 20px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
  }
  
header .arr{
    flex: 1;
}
  
header .arr a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
  }
  
header .arr a:hover {
    color: #3fa159;
    text-decoration: none;
  }
  
header .fld{
      flex: 1;
      text-align: center;
      margin: 10px;
  }
  
header .fld h2.subtitle {
    font-size: 1.8rem;
    color: #3fa159;
  }
  
header .log{
    flex: 1;
    text-align: right;
  }

.logout-btn{
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

.logout-btn{
    font-weight: bold;
    color: #f44336; 
 }

.logout-btn:hover {
    background-color: #e60000;
    color: #fff;
}
  

/* Profile Container */
.profile-container {
    max-width: 500px;
    margin: 50px auto;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    font-size: larger;
}

.profile-container h2 {
    color: #28a745;
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
}

.pro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

/* Profile Card */
.profile-card {
    flex: 1;
    text-align: left;
    color: #ffffffc7;
}

/* Profile Picture */
.pic-class {
    flex: 1;
    text-align: center;
}

.pic-class img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #fff;
}


/* Responsive Design */
@media (max-width: 768px) {
    .profile-container {
        width: 90%;
        padding: 15px;
        flex-direction: column; /* Stack elements vertically on smaller screens */
        text-align: center;
    }

    .profile-card, .pic-class {
        text-align: center;
        width: 100%;
    }

    .actions a {
        padding: 10px 20px;
        font-size: 14px;
    }
}
