@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../pics/background/background.jpg) no-repeat center center fixed;
  min-height: 100vh;
  width: 100%;
  padding: 0 15px;
  font-size: 16px;
}

body::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../pics/background/pexels-photo-1766838.jpeg"), #000;
  background-position: center;
  background-size: cover;
}

header {
  margin-top: 20px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

header .arr{
    flex: 1;
}

header .arr a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

header .arr a:hover {
    color: #3fa159;
  text-decoration: none;
}

header .fld{
    flex: 1;
    text-align: center;
    margin: 10px;
}

header .fld h2.subtitle {
  font-size: 1.8rem;
  color: #3fa159;
}

header .log{
    flex: 1;
   text-align: right;
}

header .log p {
  font-size: 16px;
  font-weight: 500;
}


/*Body content*/
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.wrapper {
    width: 400px;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
}


h2.subtitle {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #3fa159;
    text-align: center;
}

.input-field {
    position: relative;
    border-bottom: 2px solid #FBFBFB;
    margin: 20px 0;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #FBFBFB;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}

.input-field input{
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}

.input-field p{
  color: #fff;
}

.input-field input:focus~label,
.input-field input:valid~label{
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}


/* Remove autofill styling */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="file"]::-webkit-file-upload-button {
    text-align: center;
    background: #3fa159;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background: #2d7e46;
}


button {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
  width: 300px;
}
button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}

#alert {
  position: fixed;
  top: 10%;
  right: 42.5%;
  background-color: rgba(255, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  z-index: 1000;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  font-size: 16px;
  padding: 15px;
  min-width: 250px;
  max-width: 350px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeInOut 3s ease-in-out;
  /* display: none; */
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(-10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
}



