/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

/* Header Styling */
header {
    display: flex;
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

.arr{
    flex: 2;
    width: 25%;
    margin-top: 27px;
    padding: 10px;
    text-align: left;
}

.arr a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.fld{
    margin-top: 5px;
    width: 60%;
    padding: 5px;
    text-align: center;
}

.log{
    flex: 2;
    margin-top: 10px;
    padding: 10px;
    text-align: right;
    width: 25%;
}

.log p{
    text-decoration: none;
    color: white;
    font-size: 20px;
}


/* User List Container */
.user-list-container {
    margin: 20px auto;
    width: 80%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

/* User Table Styling */
.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.user-table th, .user-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

.user-table th {
    background-color: #007bff;
    color: white;
}

.user-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.user-table tr:hover {
    background-color: #ddd;
}


/* for tables in the view budgets */
.btn-update, .btn-delete {
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

.btn-update {
    background-color: #4CAF50; /* Green */
}

.btn-delete {
    background-color: #f44336; /* Red */
}

.btn-update:hover {
    background-color: #45a049;
}

.btn-delete:hover {
    background-color: #e60000;
}
